<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>大F與一起吃飯的朋友-登入</title>
    <link href="../compass/stylesheets/login.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="content">
      <ul class="photo-list">
        <li class="photo-1">
        <img src="../compass/images/login/Main_photo_01.png">
        </li>
        <li class="photo-2">
        <div>
          <img src="../compass/images/login/Main_photo_02.png">
        </div>
        </li>
        <li class="photo-3">
        <img class="photo" src="../compass/images/login/Login_photo3_img001.jpg">
        <img class="word" src="../compass/images/login/Login_photo3_word001.png">
        </li>
        <li class="photo-4">
        <img src="../compass/images/login/Main_enter_01.png">
        </li>
      </ul>
      <ul class="login-bar">
        <li class="login-icon">
        <img src="../compass/images/login/member_login_icon.gif">
        </li>
        <li class="account">
        <img src="../compass/images/login/login_account_word.gif">
        <input type="text">
        </li>
        <li class="password">
        <img src="../compass/images/login/login_password_word.gif">
        <input type="password">
        </li>
        <li class="login-btn">
        <img src="../compass/images/login/Login_btn.gif">
        </li>
      </ul>
    </div>
  </body>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script type="text/javascript" src="../javascripts/login.js"></script>
</html>
