<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/questionnaire.css" rel="stylesheet" type="text/css">

<title>無標題文件</title>
</head>

<body>

<table border="0" align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="420">
  <tr>
    <td align="center" bgcolor="#FFFFFF"><table width="420" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" class="guestion_title">1.問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一?</td>
      </tr>
      <tr>
        <td class="selection_area">
        <ul>
		<li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>		
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>		

        	</ul>
        </td>
      </tr>
      <tr>
        <td height="20" class="dotline_04"></td>
      </tr>
    </table><table width="420" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" class="guestion_title">2.問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一?</td>
      </tr>
      <tr>
        <td class="selection_area">
        <ul>
		<li><input name="" type="checkbox" value="" />
		  選項選項選項選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>		
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>		

        	</ul>
        </td>
      </tr>
            <tr>
        <td height="20" class="dotline_04"></td>
      </tr>
    </table><table width="420" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" class="guestion_title">3.問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一?</td>
      </tr>
      <tr>
        <td class="selection_area">
        <ul>
		<li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>		
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>		

        	</ul>
        </td>
      </tr>
      <tr>
        <td height="20" class="dotline_04"></td>
      </tr>
    </table><table width="420" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" class="guestion_title">4.問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一問題一?</td>
      </tr>
      <tr>
        <td class="selection_area">
        <ul>
		<li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>		
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>
        <li><input name="" type="checkbox" value="" />選項</li>		

        	</ul>
        </td>
      </tr>
      <tr>
        <td height="20" class="dotline_04"></td>
      </tr>
    </table></td>
  </tr>
</table>

</body>
</html>
