<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>大F與一起吃飯的朋友-個人手札</title>
    <link href="../compass/stylesheets/user.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="content">
      <div class="nav">
        <img class="logo" src="../compass/images/common/Logo.png">
        <table cellpadding="0" cellspacing="0">
          <tr>
            <td><img src="../compass/images/common/menu_bg_blue.png"></td>
            <td></td>
            <td><img class="menu" src="../compass/images/common/menu_personal_02.png"></td>
            <td></td>
            <td><img class="menu" src="../compass/images/common/menu_gourmet_01.png"></td>
            <td></td>
            <td><img class="menu" src="../compass/images/common/menu_bigF_01.png"></td>
            <td></td>
            <td><img src="../compass/images/common/menu_bg_blue.png"></td>
          </tr>
          <tr>
            <td></td>
            <td><img src="../compass/images/common/menu_bg_green.png"></td>
            <td></td>
            <td><img src="../compass/images/common/menu_info_01.png"></td>
            <td></td>
            <td><img src="../compass/images/common/menu_bg_green.png"></td>
            <td></td>
            <td><img src="../compass/images/common/menu_bg_red.png"></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="title-bar"></div>
      <div class="account">
        <div class="nickname"></div>
        <div class="money"></div>
      </div>
      <div class="three-word">
        <div class="join-date"></div>
        <div class="go-time"></div>
        <div class="three-word-content"></div>
        <div class="more"></div>
      </div>
      <div class="status"></div>
      <div class="introduce"></div>
      <div class="hobby"></div>
      <div class="photo"></div>
      <div class="talk"></div>
    </div>
  </body>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script type="text/javascript" src="../javascripts/user.js"></script>
</html>


